/comp.jpg
/daily
/date.jpg
/dog1.jpg
/dog2.jpg
/dog3.jpg
/dog4.jpg
/dog5.jpg
/emoji.css
/emoji.html
/emoji.js
/game.css
/game.html
/game.js
/hrishi.css
/hrishi.html
/hrishi.js
/index.html
/light.avif
/photo-1484191914255-a429e6f819b4.avif
/prac.html
/prac.js
/pro.html
/project.css
/project.js
/random number.jpg
/script.js
/search
/Slider.css
/Slider.html
/Slider.js
/start.css
/start.html
/start.js
/style.css
/time.jpg
/todo.css
/todo.html
/todo.js
/word.css
/word.html
/word.js